body {
	padding: 0px; 
	margin: 0px; 
	background: #FDFDFD;
}

.navbar { 
	background:#FDFDFD;
	width: 100%;
	margin: auto;
	font-family: helvetica;
	
}
.navbar-link{
	color: #031083;
	cursor: pointer; 
}
.navbar-brand {
	color: #031083;
	cursor: pointer; 
}
.navbar-menu {
	color: #031083;
	cursor: pointer; 
	font-size: 20px;
}
.navbar-menu-link {
	color: #0B38A8;
	cursor: pointer; 
	margin-left: 20px;
	text-decoration: none;

}

.bouton-dropdown {
	color: #031083;
	cursor: pointer;

}
.dropdown {
	position: relative;
	display: inline-block;
	font-size: 20px;
	left: 200px;
}
.bouton-categorie-liste{
	display: none;
	background-color: #D9DEEB;
	min-width: 100px;
	list-style-type: none;
} 
.bouton-categorie-liste li a{
	color: #0B38A8;
	padding: 20px;
	display: block;
}
.dropdown:hover .bouton-categorie-liste {
display: block;
position: absolute;
top: 100%;
left: 0px;
padding: 0px;
z-index: 1000;
cursor: pointer; 

}

#recherche { 
	padding: 4px;
	border: 2px solid #031083;
	border-radius: 40px;
	outline: none;
	width: 350px; 
	height: 40px;
	font-size: 17px;
	margin-left: 330px;


}
.carousel-caption h3{
	color: #031083;
	font-size: 20px;
	font:helvetica;
}
.carousel-caption p{
	color: #031083;
	font-size: 12px;
	font:helvetica;
}
h3{
	color: #031083;
}
h2 {
	color: #031083;
}

.col-sm-4 p{
	color: #031083;
}
.col-sm-4 img{
	width: 390px;
	height: 250px;
}


/*--- colonnes ---*/
.page-footer { 
	background-color: #222; 
	color: #ccc;
	padding: 60px 0 30px;
}
.footer-copyright { 
	color: #666; 
	padding: 40px 0;
}




