body {
	padding: 0px; 
	margin: 0px; 
	background: #FDFDFD;
}

.carousel-caption h3{
	color: #031083;
	font-size: 20px;
	font:helvetica;
}
.carousel-caption p{
	color: #031083;
	font-size: 12px;
	font:helvetica;
}
h3{
	color: #031083;
}
h2 {
	color: #031083;
}

.col-sm-4 p{
	color: #031083;
}
.col-sm-4 img{
	width: 390px;
	height: 250px;
}


/*--- colonnes ---*/
.page-footer { 
	background-color: #222; 
	color: #ccc;
	padding: 60px 0 30px;
}
.footer-copyright { 
	color: #666; 
	padding: 40px 0;
}




