body {
	padding: 0px; 
	margin: 0px; 
}


/*--- Page ---*/
.row {
	color: black;	
}

.well{
	font-size: 15px;
	color: #031083;	

}

.titrepage{
	color:white;
}
.titrepage2{
	color: black;
}

table tr{
	background-color:#eee;
} /*couleur par défaut, pour IE)*/
table tr:nth-child(odd)	{
	background-color:#eee; 
} /*couleur des lignes pair*/
table tr:nth-child(even)	{ 
	background-color:#fff; 
} /*couleur des lignes impair*/

.boutonitem{
	width: 300px;
	height: 50px;
	background-color: #054CDA;
	color:white;
	border-radius: 12px;

}

.boutonitem:hover {
background-color: #5C6BFF;
}


.panel-body .deux {
	color: black;
	text-align: center;	
}

.supprimerbouton {
	margin-left: 700px;
	width:85px;
	height:85px;
	background-color: #054CDA;
	font:bold 13px helvetica;
	border-radius:50%;
	border:none;
	color:#fff;
	transform: translate(120%, -110%);
	position: absolute;
}
.supprimerbouton:hover {
	
	background-color: #5C6BFF;
}

/*--- V2 ---*/

table tbody tr:nth-child(odd) {
    background-color: #d7d7d7; 
}
.bouton-supprimer{
	border:1px solid black; 
	background-color: black;
	border-radius: 5px;
	color: #fff;
	padding: 10px;

}
.bouton-supprimer:hover { 
	border:1px solid black; 
	background-color: #fff; 
	color: #000;
}

	.boutonitem2 {
	width: 300px;
	height: 50px;
	background-color: black;
	color:white;
	border-radius: 12px;
	border:1px solid black; 

}

.boutonitem2:hover {
background-color: white;
color: black;
}



/*--- colonnes ---*/
.page-footer { 
	background-color: #222; 
	color: #ccc;
	padding: 60px 0 30px;
}
.footer-copyright { 
	color: #666; 
	padding: 40px 0;
}




