body {
	padding: 0px; 
	margin: 0px; 
	background: #FDFDFD;
}


.row {
	color: black;	
}

.well{
	font-size: 15px;
	color: #031083;	

}
.info{
	font-size: 15px;
	color: #031083;	
	text-align: left;
}
.commande{
	font-size: 30px;
	color: #031083;	
	text-align: left;
}
.well .description{
	text-align: left;	

}



/*--- colonnes ---*/
.page-footer { 
	background-color: #222; 
	color: #ccc;
	padding: 60px 0 30px;
}
.footer-copyright { 
	color: #666; 
	padding: 40px 0;
}







