body {
	padding: 0px; 
	margin: 0px; 
	background: #FDFDFD;
}

.navbar { 
	background:#FDFDFD;
	width: 90%;
	margin: auto;
	font-family: helvetica;
}
.navbar-link{
	color: #031083;
	cursor: pointer; 
}
.navbar-brand {
	color: #031083;
	cursor: pointer; 
}
.navbar-menu {
	color: #031083;
	cursor: pointer; 
}
.navbar-menu-link {
	color: #0B38A8;
	cursor: pointer; 
	margin-left: 20px;
	text-decoration: none;

}
.bouton-dropdown {
	color: #031083;
	cursor: pointer;

}
.dropdown {
	position: relative;
	display: inline-block;
}
.bouton-categorie-liste{
	display: none;
	background-color: #D9DEEB;
	min-width: 100px;
	list-style-type: none;
} 
.bouton-categorie-liste li a{
	color: #0B38A8;
	padding: 20px;
	display: block;
}
.dropdown:hover .bouton-categorie-liste {
display: block;
position: absolute;
top: 100%;
left: 0px;
padding: 0px;
z-index: 1000;
cursor: pointer; 

}


#recherche { 
	padding: 4px;
	border: 2px solid #031083;
	border-radius: 40px;
	outline: none;
	width: 350px; 
	height: 40px;
	font-size: 17px;
	margin-left: 330px;
}

/*--- header (image de fond + titre + despcription + bouton) ---*/

.header { 
	position:relative;
	width:100%;
	font-family: helvetica;
	background-color: white;
}



.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 411px;

}
.row-img {
	width: 25%;
	height: 100px;
}
.img-text {
	left: 55%;
	position: absolute;
	top: 15%;
	transform: translate(-50%, -55%); 
	color: black;
	font-size: 70px;
	font-weight: 900;
	font-style: oblique;
}
.titre-ventes{
	position: absolute;
	color: black;
	font-size: 30px;
	font-weight: 900;
	font-style: oblique;
}
.row-vente-en-cours{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 411px;
}
.img-thumbnail{
	width: 213px;
	height: 300px;
	background-color: #FDFDFD;
}

.row-vente-terminee{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 411px;

}

a button{
	width: 30%;
	border-radius: 6px;
	font-size: 18px;
	padding: 10px;
	color: white;
	background-color: #031083;
	left: 50%;
	position: absolute;
	top: 65%;
	transform: translate(-50%, -50%);
}
a button:hover {
background-color: #5C6BFF;
}


/*--- colonnes ---*/
.page-footer { 
	background-color: #222; 
	color: #ccc;
	padding: 60px 0 30px;
	position: relative;


}
.footer-copyright { 
	color: #666; 
	padding: 40px 0;

}




